<!DOCTYPE html>
<html lang="en">

<head>
    <title>Let's Play!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
</head>

<body>
    <div id="app">
    <header>
        <a href="search.html"> <img class="logo img-responsive" src="images/Capture.JPG"></a>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Placeholder
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a v-on:click="displayMatches = true; displayMessages = false; displaySearch = false; displayProfile = false">My Player Matches</a></li>
                <li><a v-on:click="displaySearch = true; displayMessages = false; displayMatches = false; displayProfile = false">Search For Matches </a></li>
                <li><a  v-on:click="displayMessages = true; displayMatches=false; displaySearch = false; displayProfile = false">My Messages</a></li>
                <li><a v-on:click="displayProfile = true; displayMessages = false; displayMatches = false; displaySearch = false">My Profile</a></li>
                <li><a href="#">Sign Out</a></li>
            </ul>
        </div>
    </header>
    

        <div v-if="displayMatches">
            <div class="heading">
                
                <h1>My Player Matches</h1>
            </div>
            <div class="matchContainer container">
                <div v-for="user in users" class="matchBox container">
                    <div class="profileHeader">{{user.username}}</div><img class="thumbDisplay" v-bind:src="user.display" />
                    <div class="profileHeader">{{user.city}}</div>
                    <div class="profileText">{{user.biography}}</div><button class="messageUser btn" onclick="location.href='messages.html'">Message {{user.username}}</button>
                </div>
            </div>
        </div>
        <div v-if="displayMessages">
            <div class="heading">
                <h1>Messages</h1>
            </div>
            <div class="matchContainer container">
                <h2>This page under construction!</h2>
                <img src="http://textfiles.com/underconstruction/ArArea51Vault1228underconstruction.gif">
                <img src="http://textfiles.com/underconstruction/ArArea51Vault1228underconstruction.gif">
                <img src="http://textfiles.com/underconstruction/ArArea51Vault1228underconstruction.gif">

            </div>

        </div>
        <div v-if="displaySearch">
        
        <div class="matchContainer container">
            <div class="matchBox container"><div><div class="profileHeader">{{displayUser.username}}</div><img  class="thumbDisplay" v-bind:src="displayUser.display"/><div class="profileHeader">{{displayUser.city}}</div><div class="profileText">{{displayUser.biography}}</div></div></div>
        </div>
        <div class="buttonContainer">
        <button class="btn" v-on:click="searchUser">No thanks!</button>
        <button class="btn" v-on:click="searchUser">Let's Play!</button>
            </div>
</div>
        <div v-if="displayProfile">
        <div class="heading">
            <h1>My Profile</h1>
        </div>
        <div class="matchContainer container"><h2>This page under construction!</h2>
            <img src="http://textfiles.com/underconstruction/ArArea51Vault1228underconstruction.gif">
            <img src="http://textfiles.com/underconstruction/ArArea51Vault1228underconstruction.gif">
            <img src="http://textfiles.com/underconstruction/ArArea51Vault1228underconstruction.gif">

        </div>


    </div>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/6.1.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body></html>
